body {
	background: #FFF8DC;
}

h1, h2 {
	color: olive;
	text-align: center;
}

hr {
	border: none;
	background-color: olive;
	color: olive;
	height: 2px;
	width: 5cm;
	margin-top: 1cm;
	margin-bottom: 0px;
}

ul {
	font-size: 25px;
	text-align: center;
}

li {
	list-style-type: none;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

blockquote {
	font-size: 20px;
}

a[href] {
	color: DarkOliveGreen;
	text-decoration: none;
}

footer {
	text-align: center;
	font-size: 20px;
}